@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&family=Roboto&display=swap");

.app {
  margin: 100px;

  box-sizing: border-box;
}
.app h1 {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 35px;
  text-transform: uppercase;
  color: #333333;
  margin-left: 10px;
  padding-bottom: 20px;
}
.selectAll {
  width: 500px;
}
.form__row {
  margin-right: 30px;
  width: 100%;
  display: flexbox;
  object-fit: contain;
}
.form__row > input {
  padding: 15px 15px;
  width: 45%;
  font-size: 16px;
  margin-left: 15px;
  margin-bottom: 40px;
  color: #333333;
  border: 2px solid gray;
  font-family: "Roboto", sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.form__row > input::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding-right: 10px;
}
.selectAll {
  margin-top: 10px;
  margin-bottom: 35px;
  width: 48%;
  margin-left: 11px;
  border: 3px solid rgb(226, 224, 224);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  color: #5f5e5e;
  font-weight: bold;
}
.form__row > button {
  border: none;
  display: block;
  padding: 13px 31px;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 24px;
  border: 2px solid #333333;
  background-color: white;
  color: #333333;
  float: right;
  margin-top: 90px;
  margin-right: 16px;
}
.form__row > button:hover {
  background-color: #333333;
  color: white;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.form__row > span {
  margin-left: 12px;
  font-weight: bold;
}
input.error {
  padding: 15px 15px;
  width: 45%;
  font-size: 16px;
  margin-left: 15px;
  margin-bottom: 40px;
  color: #333333;
  border: 2px solid rgb(212, 21, 21);
  font-family: "Roboto", sans-serif;
  transition: 0.2s ease-in-out;
}
input.success {
  padding: 15px 15px;
  width: 45%;
  font-size: 16px;
  margin-left: 15px;
  margin-bottom: 40px;
  color: #333333;
  border: 2px solid rgb(15, 187, 158);
  font-family: "Roboto", sans-serif;
  transition: 0.2s ease-in-out;
}
